body{
    background-color: darkcyan;
    padding: 3%;
    color: whitesmoke;
}

.red{
    background-color: #CA462A;
    padding: 4%;
}

.blue{
    background-color: #2A64CA;
    padding: 4%;
}

.whit{
    background-color: whitesmoke;
    color: black;
}
